<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre Mí</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere ratione, delectus adipisci earum magnam aspernatur molestias tempora et eligendi sint autem consequuntur pariatur aut hic nam animi dicta nulla eos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolorem nisi officia, mollitia esse fugiat? Porro id quam commodi, dignissimos laudantium suscipit! At expedita animi possimus repudiandae corrupti sit debitis!</p>


</article>