<header>
  <ul>
    <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['activate']">Sobre Mí</a></li>
    <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['activate']">Proyectos</a></li>
    <li id="logo"><a href="#">AC</a></li>
    <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['activate']">Crear Proyecto</a></li>
    <li><a [routerLink]="['/contacto']" [routerLinkActive]="['activate']">Contacto</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Master en JavaScript 
</footer>